@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Lucida Blackletter Regular';
    src: local('Lucida Blackletter Regular'), url('./webfonts/Lucida Blackletter Regular.woff') format('woff');
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

html, body {
    height: 100%;
}

h2 {
    font-family: 'Lucida Blackletter Regular', sans-serif;
    margin: 0 0 0.75rem 0;
    font-size: 1.75rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0 0 0 auto;
}

.navigation-item {
    margin: 0.5rem;
}

.portrait {
    width: 300px;
    border-radius: 0.75rem;
    flex-shrink: 0;
}

.about-me-container {
    display: flex;
}

.about-me-text {
    margin-right: 1rem;
}

.project-hero {
    margin-top: 1rem;
    width: 50%;
}

.project-title h3 {
    display: inline;
}

details {
    cursor: pointer;
}

summary {
    list-style: none;
}

summary::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url('./assets/right-arrow-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    margin-top: auto;
    padding: 0.75rem 0;
    text-align: center;
}

section {
    padding: 1rem 0;
}

.icon {
    font-size: 2em;
    margin: 0 0.5rem;
}

a {
    text-decoration: none;
    font-weight: 600;
}

#logo {
    margin: 0;
}

.skills-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.skills-container > * {
    font-size: 3em;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .about-me-container {
        flex-direction: column;
    }
}z